.middle-wrapper {
    height: 500px;
}

.google-logo {
    display: flex;
    justify-content: center;
    align-content: space-around;
    height: 100%;
    margin: 0px 0px 20px 0px;
}


.google-logo img {
    height: 500px;
    width: 300px;
    height: 100%;
}

.middle-wrapper > .search-bar {
    display: flex;
    justify-content: center;
    align-content: space-around;
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
    margin: 0px 0px 40px 0px;
    border: none;
    background-color: transparent;

}

.middle-wrapper > .button-container {
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 27px;
}

